:root{
    --primar: rgb(255, 255, 255) ;
    --secondary: rgb(94, 94, 94);
    --article: rgb(171, 171, 171);
    --button-color: rgb(75, 108, 193);
    --tertiary:rgb(145, 145, 145);
    --bordercolor:rgb(246,246,246);
}

body{
    font-family: 'Open Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotthing:antialiased;
}

header{
    background-color:#191a1d;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);    
}

.container{
    padding: 0 100px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.navigation a:hover{
    opacity: 1;
    font-size: 20px;
    border-bottom: 1px solid cyan;
}

.container .left a{
    color: var(--primar);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-style: bold;
}

.container .right a{
    color: var(--primar);
    font-weight: 800;
    text-decoration: none;
    margin-right: 2rem;
    transition: all .3s ease;
}
.my-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem;
    gap: 50px;
    align-items: center;
}

.my-projects h1{
    font-size: 40px;
    color: white;
}

.my-projects h2{
    font-size: 20px;
    color: white;
    font-weight: 100;
    justify-items: center;
}
.about-me {
    display: flex;
    justify-content: space-around;
    padding: 10rem;
    align-items: center;    
}




.discription {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}

.discription .header h1{
    color: var(--primar);
    font-size: 50px;
}

.discription .info h3{
    color: var(--primar);
    font-size: 1.6rem;
    font-weight: 400;
}

.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--button-color);
    color: white;
   
}

.btn:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--button-color);
    transition: all .3s ease;
    transform: scale(1.1);
}



.overlap-image img{
    width: 20rem;
    height: 25rem;
}

.feature-project .main-heading {
    color: var(--tertiary);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid var(--tertiary);
    padding-top: 50px;
    padding-bottom: 5px;
    margin-left: 100px;
}

.myservices .main-heading2 {
    color: var(--tertiary);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid var(--tertiary);
    padding-top: 50px;
    padding-bottom: 5px;
    margin-left: 100px;
}


.main-content{
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
    gap: 100px;
}

.project-img img{
    
    width: 800px;
    height: 600px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project-description .project-title{

    font-size: 30px;
}

.project-description .project-overview{

    font-size: 18px;
    font-weight: 800;
}

.project-description .technologyuse{

    font-size: 18px;
}

.technologyuse {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.review {
    background: #f6f6f6 url(/images/bg-stripes.svg) center/800px no-repeat;
    background-size: 600px;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 200px;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}



.quote-text:before, .quote-text:after {
    transform: translateX(-50%);
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    content: "";
    border-radius: 1000px;
    background: #4b6cc1;
}

.reviewperson{
    display: flex;
    flex-direction: column;
    padding: 200px;
    gap: 200px;
    align-items: center;
}


.quote-text {
    font-size: 30px;
}

.persondetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.personpic img{
    margin-bottom: 20px;
    border-radius: 1000px;
    display: block;
    max-width: 100%;
}

.personname {
    display: block;
    font-family: "Rubik","Arial",sans-serif;
    font-size: 30px;
    color: #5e5e5e;
}

.personcompany a{
    text-decoration: none;
}

.personcompany {
    font-family: "Rubik","Arial",sans-serif;
    font-size: 20px;
    color: #5e5e5e;
}

.myservices .card-wrapper1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

    
.myservices .card-wrapper1{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin-top: 20px;

}

.webdesign {
    background-color: rgba(246, 246, 246);
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-top: 10px solid rgb(75, 108, 193);
    border-radius: 6px;

}

.webdevelopment {
    background-color: rgba(246, 246, 246);
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-top: 10px solid rgb(75, 108, 193);
    border-radius: 6px;
}


.service__icon {
    display: inline-block;
}

.myservices {
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}

.service__icon:after {
    margin-right: auto;
    margin-left: auto;
}

.service__icon:after, .site-logo:after {
    width: 100%;
    max-width: 30px;
    height: 6px;
    display: block;
    content: "";
    border-radius: 1000px;
    background: #4b6cc1;
}

.service__icon:after {
    margin-top: 40px;
    margin-bottom: 40px;
}

.myservices .viewallservices .btn{
    margin-top: 30px;
    margin-left: 45%;
}
.formmyblog .viewmoreposts .btn{
    margin-top: 30px;
    margin-left: 45%;
}


.formmyblog h1{
    color: rgb(145, 145, 145);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgb(246, 246, 246);
    padding-top: 50px;
    padding-bottom: 5px;
    margin-left: 100px;
}

.formmyblog .blog_post{

    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formmyblog .blog_post img{
    width: 100%;
}

.formmyblog .text-wrapping .blog_post{
    background-color: rgb(246,246,246);    
    padding: 20px;
    text-align: center;
}

.formmyblog .text-wrapping {
    display: flex;
    text-align: center;
    gap: 30px;
    margin-top: 40px;
    margin-left: 500px;
}

.letswork{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10rem;
    margin-top: 50px;
    
}

.getintouch {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px
}

.getintouch h1{
    color:var(--primar);
    font-size: 40px;
}

.getintouch h2{
    color:white;
    font-size: 30px;
}

.getintouch .btn{
    font-size: 30px;
}


.socialmedia {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px
}

.socialmedia h2{
    font-size: 20px;
    color: white;
}

.last{
    padding-top: 100px;
    background-color:#191a1d;
    -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}

.site-footer {
    background: #101114;
}
footer {
    display: block;
    background-color: black;
}

.site0fotter{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 925px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 300;
    color:white;
}


.full-project {
    display: flex;
    border-radius: 10px;
    border-top: 6px solid #4b6cc1;
    background-color: rgba(246, 246, 246);
    width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    gap: 60px;
    padding-top: 100px;
}

.full-project .full-project-webdesign {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.full-project .full-project-webdesign h1{
    font-size: 40px;
    font-weight: 400;
} 

.full-project .full-project-webdesign .focused h2{
    font-size: 30px;
    font-weight: 300;
}

.full-project .full-project-webdesign .focused h3{
    font-size: 20px;
    font-weight: 300;
}
.mypocess .full-process {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    margin: auto;
    justify-content: center;
    gap: 50px;
}
.mypocess .full-process h1{
    color: rgb(145, 145, 145);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid rgb(246, 246, 246);
    padding-top: 2px;
    padding-bottom: 5px;
}

.mypocess .full-process .gettingstarteditem{
    display: flex;
    justify-content: center;
    gap: 50px;

}

.mypocess .full-process .gettingstarteditem .brief{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mypocess .full-process .gettingstarteditem .brief h2{
    font-size: 30px;
    font-weight: 600;
}

.mypocess .full-process .gettingstarteditem .brief h3{
    font-size: 20px;
    font-weight: 400;
}

.available{
    margin-top: 50px;
}
.available .available-status{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-top: 6px solid #4b6cc1;
    background-color: rgba(246, 246, 246);
    width: 800px;
    height: 400px;
    gap: 20px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.available .available-status h1{
    font-size: 40px;
    color: var(--button-color);
}

.available .available-status h2{
    font-size: 30px;
    font-weight: 500;
    
}

.available .available-status h3{
    font-size: 20px;
    font-weight: 400;
    
}
.form{
    margin-top: 50px;
}
.form .form-items{
    width: 800px;
    height: 500px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.form .down{
    margin-top: 60px;
    text-align: center;
}

.form .input-items input[type=text] {
    width: 380px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(228, 219, 219);;
    border-radius: 6px;
    background-color: rgb(246, 246, 246);
    box-sizing: border-box;
  }

 .firsttwoitems {
      display: flex;
      justify-content: space-between;
     
  }
  .form .form-items .lastitems input[type=textarea]{
    width: 800px;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: rgb(246, 246, 246);
    font-size: 16px;
    resize: none;
  }

  .form h1{
    color: rgb(170,175,174);
    text-align: left;
}

 